@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: nunito;
  src: url(../public/fonts/nunito_sans/NunitoSans-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: nunito;
  src: url(../public/fonts/nunito_sans/NunitoSans-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: nunito;
  src: url(../public/fonts/nunito_sans/NunitoSans-Bold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: averia;
  src: url(../public/fonts/averia/AveriaSerifLibre-Regular.ttf);
  font-weight: 400;
}